<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926185933230-usfkq39chbi4ept087nfg4a6k1plmiuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926185933230-usfkq39chbi4ept087nfg4a6k1plmiuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBGc5oAZWgOzC4HeLnHGXBbTsYq5vQuAp8</string>
	<key>GCM_SENDER_ID</key>
	<string>926185933230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icolasoft.SUP-Project</string>
	<key>PROJECT_ID</key>
	<string>sup-project-dc1c7</string>
	<key>STORAGE_BUCKET</key>
	<string>sup-project-dc1c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926185933230:ios:a1d7d1ea0caaa0d1ca203f</string>
</dict>
</plist>